$background: #fdf5e5 !default;
$background-header: #fdf5e5 !default;
$block-background-color : #ffffff !default;
$button-color: #1f18c0 !default;
$link-color: #1f18c0 !default;

$main-title-color: #1d2125 !default;
$secondary-title-color: #1f18c0 !default;

$brand-primary: $button-color !default;
$secondary-menu-color: $brand-primary !default;
$green: #64a44e !default;
$gold: #f7bf29 !default;

$moodle-color: #f98012 !default;
$facebook-color: #4167b2 !default;
$moodle-color: #f98012 !default;
$twitter-color: #55acee !default;
$youtube-color: #cc181e !default;
$linkedin-color: #007bb5 !default;
$instagram-color: #8a3ab9 !default;
$whatsapp-color: #25d366 !default;
$telegram-color: #0088cc !default;
